.container{
    display: flex;
    flex-direction: row;
}

/*sector izquierda*/

.izquierda{
    display: flex;
    width: 50%;
    height:450px;
    justify-content: left;
    align-items: center;
}
.Consalud{
    margin-left: 40px;
}
.centro{
    justify-content: center;
    height: 400px;
    width: 300px;
    margin-left: 25%;
}

/*sector izquierda: Texto*/

.encabezado{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0%;
}

.encabezadillo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-bottom: 40px;

}

.Rut{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(42, 42, 255);
}

/*sector izquierda: input*/

.text{
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}
#text{
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}

/*sector izquierda: botones*/

.boton{
    border-radius: 20px;
    height: 35px;
    border:none;
    background-color: rgb(0, 0, 255);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    margin-bottom: 20px;
}

#boton{
    border-radius: 20px;
    height: 35px;
    border:solid 0.5px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
}


/*Seccion derecha*/

.derecha{
    display: flex;
    width: 50%;
    height:450px;
    justify-content:end;
    align-items: center;
    background-color: Turquoise;
}